<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <% if(user) { %>
    <p>
      ID: <%= user.id %>, Name: <%= user.firstName %> <%= user.lastName %>,
      Email: <%= user.email %>, Age: <%= user.age %>, Bio: <%= user.bio %>
    </p>
    <% } else { %>
    <p>No user found with those details</p>
    <% } %>
    <a href="/">Back to home</a>
  </body>
</html>
